name: On PRs

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # TODO: Install tf lint then run makefile command

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # TODO: Install tf lint then run makefile command

  sec-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # TODO: Install tf lint then run makefile command
